# This workflow will do a clean install of node dependencies, build the source code and run tests

name: Run unit tests

on: push

jobs:
  build-and-test:
    name: Build and test SyntheticsRunTestsTask
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: SyntheticsRunTestsTask

    steps:
      - uses: actions/checkout@v5
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: SyntheticsRunTestsTask/.node-version
      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn build && yarn test
        env:
          FORCE_COLOR: 1
